body{
    background-color: rgb(121, 21, 189);
    font: normal 15pt arial;

}

header{
    color: rgb(95, 114, 199);
    text-align: center;

}
section{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);


}
select#flista {
    width: 150px;;
}
footer {
    color: blanchedalmond;
    text-align: center;
    font-style: italic;

}