body{
    background-color: rgb(121, 21, 189);
    font: normal 15pt arial;

}

header{
    color: blanchedalmond;
    text-align: center;

}
section{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
}
img {
    border-radius: 60%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
footer {
    color: blanchedalmond;
    text-align: center;
    font-style: italic;

}