body{
    background-color: rgb(94, 129, 204);
    font: normal 15pt arial;

}

header{
    color: blanchedalmond;
    text-align: center;

}
section{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);


}
footer {
    color: blanchedalmond;
    text-align: center;
    font-style: italic;

}