*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(204, 201, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.post{
    background: rgb(245, 247, 247);
    padding: 10px;
    border: 3px solid rgb(129, 129, 129);
    margin: 10px;
    border-radius: 5px;
}
.img1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgb(78, 157, 221);
}

.img2{
    width: 100%;
    height: 250px;
    padding-right: 13px;
    margin-bottom: 15px;
}

#title, .subtitle, .post_title {
    color: rgb(23, 23, 24);
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
}

.post_content{
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align:justify;
}

a{
   text-decoration: line-through;
   color: rgb(119, 118, 117); 
}

.contacts_list{
 list-style-type:circle;
 padding-left: 24px;
}

.contacts_list li a{
    color: blue;
    text-decoration: none;
}